<div class="card">
    <div class="card-header">Fragedetails</div>
    <div class="card-body">
        <form [formGroup]="answerForm" (submit)="onSubmit()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="text">Text</label>
                <div class="col-sm-9">
                    <textarea class="form-control col-sm-12" id="text" type="text" rows="3" required minlength="10"
                        placeholder="Antworttext..." formControlName="text"
                        [ngClass]="{'is-invalid': submitted && f['text'].errors}"></textarea>
                    <div class="invalid-feedback">
                        <div *ngIf="submitted && f['text'].errors?.required">Pflichtfeld!</div>
                        <div *ngIf="submitted && f['text'].errors?.minlength">Frage muss mindestens 10 Zeichen lang
                            sein.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">Antwort korrekt?</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="correct" formControlName="correct">
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Speichern</button>
            <button class="btn btn-secondary" type="button" (click)="gotBack()">Abbrechen</button>
        </form>
    </div>
</div>